<div class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Automate Garage
      </h1>
      <h2 class="subtitle">
        with Smart Garage
      </h2>
      <%= button_to "Try it for free", new_user_registration_path, method: "get", class: "button is-info is-light is-rounded" %>
    </div>
  </div>
</div>
