<div class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Control Center
      </h1>
      <h2 class="subtitle">
        Add and control your devices
      </h2>
      <%= button_to "Your Devices", devices_path, method: "get", class: "button is-dark is-inverted is-rounded" %>
    </div>
  </div>
</div>
