<div class="hero is-medium is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= t ".welcome_line" %>
      </h1>
      <%= link_to t(:your_devices), devices_path, class: "button is-dark is-rounded" %>
      <%= link_to t(:sensor), sensors_path, class: "button is-success is-rounded" %>
    </div>
  </div>
</div>
