<div class="hero is-success is-fullheight">
	<div class="hero-body">
		<div class="container has-text-centered">
			<div class="title is-2">Not happy? Tell us!</div>
			<div class="subtitle is-4">Email: mail@email.com</div>
		</div>
	</div>
</div>