<% provide(:page_title, "Home") %>
<div class="hero is-success is-large">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Automate Garage
      </h1>
      <h2 class="subtitle">
        with Smart Garage
      </h2>
      <% unless user_signed_in? %>
        <%= button_to "Try it for free", new_user_registration_path, method: "get", class: "button is-info is-light is-rounded" %>
      <% end %>
    </div>
  </div>
</div>

<div class="hero is-warning is-medium">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Just Drive
      </h1>
      <h2 class="subtitle">
        we'll open the gate for you
      </h2>
      <% if user_signed_in? %>
        <%= button_to "My Devices", devices_path, method: "get", class: "button is-primary is-rounded" %>
      <% end %>
    </div>
  </div>
</div>