<% if resource.errors.any? %>
  <div class="message is-normal is-warning">
    <div class="message-header">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                   count: resource.errors.count,
                   resource: resource.class.model_name.human.downcase)
         %>
      </h2>
      <button class="delete"></button>
    </div>
    <div class="message-body">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
