<div class="table-container">
  <table class="table is-striped is-narrow is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @devices.each do |device| %>
        <tr>
          <th><%= device.device_name %></th>
          <td><%= button_to 'Show', device_path(device), method: "get", class: "button is-success" %></td>
          <td><%= button_to 'Edit', edit_device_path(device), method: "get", class: "button is-info" %></td>
          <td><%= button_to 'Destroy', device_path(device), method: "delete", class: "button is-danger", 
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>