<div class="columns is-mobile is-vcentered is-centered">
  <div class="column is-three-quarters">
    <div class="title">
      <%= yield(:nav_title) %>
    </div>
  </div>
  <div class="column is-one-quarter">
    <div class="buttons is-right">
      <%= button_to "Back", devices_path, method: "get", class: "button is-success is-rounded is-normal" %>
    </div>
  </div>
</div>