<% provide(:page_title, @device.device_name) %>
<% provide(:nav_title, @device.device_name) %>
<section class="section">
  <div class="container">
  	<%= render 'devices/head_nav' %>
  	<div class="box">
	  	<figure class="image is4by3">
	  		<%= image_tag("/assets/images/captured.jpg?#{Time.now.to_f}") %>
	  	</figure>
	  </div>
  	

	  <% if @device.device_type.downcase == "camera" %>
			<div class="buttons is-right">
				<%= button_to "Back", devices_path, method: "get", class: "button is-dark" %>
				<%= button_to "Capture", capture_device_path, method: "post", class: "button is-warning is-light is-outlined" %>
			</div>
		<% end %>
	</div>
</section>