<% provide(:page_title, "Edit Device") %>
<% provide(:button_text, "Update this device") %>
<% provide(:nav_title, "Update Device") %>
<section class="section">
  <div class="container">
    <%= render 'head_nav' %>
    <%= render 'form' %>
  </div>
</section>
