<% provide(:page_title, "Control Center") %>
<% provide(:nav_title, "Control Center") %>
<section class="section">
  <div class="container">
    <%= render 'head_nav' %>
    
    <div class="table-container">
      <table class="table is-striped is-fullwidth">
        <tbody>
          <% @devices.each do |device| %>
            <%= render 'device_item', device: device %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</section>
