<% provide(:page_title, "Create A New Device") %>
<% provide(:button_text, "Create a new device") %>
<% provide(:nav_title, "New Device") %>
<section class="section">
	<div class="container">
		<%= render 'head_nav' %>
		
		<%= render 'form' %>
	</div>
</section>
