<% provide(:page_title, t(".title")) %>
<section class="section">
  <div class="container">
    <div class="title is-3">
      <%= t(".title") %>
    </div>
    <%= render 'form' %>
  </div>
</section>
