$notification-radius: 0;
$notification-padding: 1.25rem 2.5rem 1rem 1rem;

@import "bulma";

.root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

.container + .container {
	margin-top: 2em;
}


.bordered {
	border: 1px solid rgb(215, 58, 73);
	border-radius: 0.3em;
	padding: .5em;
}

.required-field::after {
    content: "*";
    color: red;
    margin-left: 0.1em;
}

.notification {
	margin-bottom: 0;
}

.notification-alert {
	@extend .is-danger;
}

.notification-notice {
	@extent .is-light;
}

.notification-primary {
	@extend .is-primary;
}

.buttons > .button_to + .button_to {
	margin-left: 0.75em;
}

.bd-footer-link-title {
	color: #363636;
	font-size: 1.25rem;
	font-weight: 600;
	& + & {
		margin-top: 1em;
	}
}

.bd-footer-link {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	line-height: 1.2;
}
.footer-link {
	color: #363636;
	&:hover {
		color: rgb(50, 115, 220);
	}
}

.table th {
	vertical-align: middle;
}

.table td {
	vertical-align: middle;
}

td > form > .button, td > .buttons > form > .button {
	padding-left: 0.5em;
	padding-right: 0.5em;
}


.shadowed {
	transition: all 0.3s ease 0s;
	text-align: left;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.shadowed:active {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


tr.small-padding > td {
	padding-left: 0.1em;
	padding-right: 0.1em;
}