<footer class="footer">
	<div class="container">
	  <div class="content has-text-centered">
	    <p>
	      <em>Made with love</em> by <%= link_to "Finn", "https://google.com", target: "_blank", rel: 'nofollow' %>. 
	    </p>
	  </div>
	  
    <div class="columns">
		  <div class="column is-4">
		  	<p class="bd-footer-link-title">
	  			<%= link_to "Home", root_path, class: "footer-link"  %>
	  		</p>
  			<p class="bd-footer-link-title">
		    	<%= link_to "Blog", "https://print-finn@blogspot.com", target: "_blank", rel: 'nofollow', class: "footer-link" %>
		    </p>
		  </div>
		  <div class="column is-4">
		    <div class="bd-footer-link-title"><%= link_to 'Documentation', static_pages_documentation_path %></div>
		    <div class="bd-footer-link">Garage gate <em>[Coming soon]</em></div>
		    <div class="bd-footer-link">Garage light <em>[Coming soon]</em></div>
		    <div class="bd-footer-link">Garage camera <em>[Coming soon]</em></div>
		    <div class="bd-footer-link">Garage motion sensor alarm <em>[Coming soon]</em></div>
		  </div>
		  <div class="column is-4">
		    <div class="bd-footer-link-title">More</div>
		    <div class="bd-footer-link">Pricing policy</div>
		    <div class="bd-footer-link">Join us</div>
		  </div>
		</div>
	</div>
</footer>
