<footer class="footer">
  <div class="content has-text-centered">
    <em>Made with love</em> by <%= link_to "Finn", "https://github.com/printfinn", target: "_blank", rel: 'nofollow' %>.
  </div>
</footer>
