<footer class="footer">
  <section class="container">
    <div class="tabs is-right">
      <ul>
        <li class="<%= "is-active" unless I18n.locale == :en %>">
          <%= link_to_unless I18n.locale == :en, "English", locale: :en %>
        </li>
        <li class="<%= "is-active" unless I18n.locale == :zh %>">
          <%= link_to_unless I18n.locale == :zh, "中文", locale: :zh %>
        </li>
      </ul>
    </div>
  </section>
</footer>
