<footer class="footer">
	<div class="container">
	  <div class="content has-text-centered">
	    <p>
	      <em>Made with love</em> by <%= link_to "Finn", "https://google.com", target: "_blank", rel: 'nofollow' %>. 
	    </p>
	  </div>
	  
    <div class="columns">
		  <div class="column is-4">
		  	<p class="bd-footer-link-title">
	  			<%= link_to "Home", root_path, class: "footer-link"  %>
	  		</p>
  			<p class="bd-footer-link-title">
		    	<%= link_to "Blog", "https://print-finn@blogspot.com", target: "_blank", rel: 'nofollow', class: "footer-link" %>
		    </p>
		  </div>
		  <div class="column is-4">
		    <div class="bd-footer-link-title">Documentation</div>
		    <div class="bd-footer-link">Garage gate <em>[Coming soon]</em></div>
		    <div class="bd-footer-link">Garage light <em>[Coming soon]</em></div>
		    <div class="bd-footer-link">Garage camera <em>[Coming soon]</em></div>
		    <div class="bd-footer-link">Garage motion sensor alarm <em>[Coming soon]</em></div>
		  </div>
		  <div class="column is-4">
		    <div class="bd-footer-link-title">More</div>
		    <div class="bd-footer-link">Pricing policy</div>
		    <div class="bd-footer-link">Join us</div>
		  </div>
		</div>
	</div>
</footer>


<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>


<script type="text/javascript">
  // To close the notification or other div with "delete" class name
  document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.message .delete') || []).forEach(($delete) => {
      $notification = $delete.parentNode.parentNode;
      $delete.addEventListener('click', () => {
        $notification.parentNode.removeChild($notification);
      });
    });
  });
</script>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', () => {
	  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
	    $notification = $delete.parentNode;
	    $delete.addEventListener('click', () => {
	      $notification.parentNode.removeChild($notification);
	    });
	  });
	});
</script>