<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <em>Made with love</em> by <%= link_to "Finn", "https://google.com", target: "_blank", rel: 'nofollow' %>. 
    </p>
  </div>
</footer>